<% provide(:title, @user.login) %>
<div class="row">

<aside class="span8">
  	<section>
	  <h3>
  		<%= gravatar_for @user %>
  		<%= @user.login %> 
	  </h3>

	  <% if signed_in? %>
    	<section>
          <%= render 'shared/stats' %>
    	</section>
            
        <% end %>
		
	</section>
	 <div >
        <%= render 'follow_form' if signed_in? %>

      </div>
  </aside>

    <article>
      	
	  <div class="span8">
		<% if @user.microposts.any? %>
		<h3>Microposts: (<%= @user.microposts.count %>) </h3>
       
			<ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      		
		<% end %>
		
	   </div>
     </article>


</div>